.contactsBlock {
    height: auto;
    background-color: #f9ebfd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.contactsContainer {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.contacts {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 50%;
    height: 300px;
    justify-content: space-between;
}

/*h3 {*/
/*    margin-bottom: 50px;*/
/*    background-color: #f3f3f3;*/
/*}*/

.contacts input, textarea {
    font-size: medium;
    height: 12%;
    border-radius: 20px;
    border: 3px solid rgba(170, 145, 231, 0.77);
    background-color: #ffffff;
    padding: 0 10px;
}

.contacts textarea {
    height: 55%;
    padding: 10px 10px;
}

@media screen and (max-width: 770px){
    .contactsBlock {
        padding: 50px 0;
    }
    .contactsContainer {
        width: 100%;
    }
    .contacts {
        width: 80%;
    }
}