.blockName {
    padding: 12px 25px;
    margin-bottom: 70px;
    background-color: rgba(170, 145, 231, 0.68);
    border-radius: 15px;
}

.blockName h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 1;
    font-size: 25px;
    text-shadow: 1px 1px 10px rgba(33, 27, 47, 0.84);
    letter-spacing: 2px;
}
