.work {
    width: 40%;
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 25px;
}

.icon {
    height: 230px;
    width: 350px;
    background-color: #d3d3d3;
    margin-top: 5%;
}

h3 {
    background-color: #eaf8ff;
}

span {
    margin-top: 10px;
}

button {
    margin: 10px 0;
}

.description {
    background-color: #eaf8ff;
}

.workTopBlock {
    background-color: #00447c;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.workBottomBlock {
    padding-top: 10px;
    background-color: #acc5da;
    width: 100%;
    height: 50%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1440px) {
    .icon {
        height: 150px;
        width: 250px;
    }
}

@media screen and (max-width: 990px) {
    .icon {
        height: 120px;
        width: 200px;
    }
}

@media screen and (max-width: 770px) {
    .icon {
        height: 100px;
        width: 140px;
    }
    .work {
        width: 80%;
    }
    .worksBlock {
        padding: 70px 0;
    }
}

@media screen and (max-width: 450px) {
    .icon {
        height: 80px;
        width: 120px;
    }
}

