.skillsBlock {
    height: auto;
    width: 100%;
    padding: 100px 0;
    background-color: #f9ebfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.blockName {
    padding: 12px 25px;
    margin-bottom: 70px;
    background-color: #aa91e7;
    border-radius: 15px;
}

.blockName h2 {
    color: #ffffff;
    font-weight: 1;
    font-size: 25px;
    text-shadow: 1px 1px 10px rgba(33, 27, 47, 0.84);
    letter-spacing: 2px;
}

.skills {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 770px) {
    .skillsBlock {
        padding: 70px 0;
    }
    .skillsContainer {
        width: 100%;
    }
    .skills {
        padding: 10px 0;
    }
}

@media screen and (max-width: 450px) {
    .skillsBlock {
        padding: 50px 0;
    }
    .skills {
        padding: 0;
    }
}