.skillsBlock {
    height: auto;
    width: 100vw;
    padding: 100px 0;
    background-color: #d1ffe0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.skillsContainer h2 {
    margin-bottom: 70px;
    background-color: #f3fff7;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 770px) {
    .skillsBlock {
        padding: 70px 0;
    }
    .skillsContainer {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .skillsBlock {
        padding: 50px 0;
    }
}