.nav {
    /*border: 1px solid red;*/
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    max-font-size: 10vh;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgba(33, 27, 47, 0.84);
}

.nav a:hover {
    /*color: rgba(255, 255, 255, 0.91);*/
    letter-spacing: 1.2px;
    text-shadow: none;
}



@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 990px) {
    .nav {
        font-size: 25px;
    }
}

@media screen and (max-width: 770px) {
    .nav {
        width: 100%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 450px) {
    .nav {
        font-size: 20px;
        justify-content: space-around;
        margin: 0 5px;
    }
}

