.footerBlock {
    height: auto;
    background-color: #f9ebfd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.footerContainer {
    /*border: 1px solid red;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

h3 {
    /*background-color: #ececec;*/
}

.footerItems {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 10px 0;
    width: 60%;

}

.item {
    background-color: #d7d7d7;
    height: 50px;
    width: 50px;
}


@media screen and (max-width: 770px) {
    .footerBlock {
        padding: 50px 0;
    }
    .footerContainer {
        width: 100%;
    }
}